
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Virtualenv
.venv/
venv/
ENV/

# PyInstaller
*.manifest
*.spec

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Pytype
.pytype/

# VS Code
.vscode/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Other Visual Studio related
*.dbmdl
*.VC.db

# Local history for Visual Studio
.localhistory/

# Python-specific IDEs
.idea/
*.iml

# Logs
*.log

# SQLite database
*.sqlite3

# MacOS files
.DS_Store

# Windows thumbnail cache
Thumbs.db
ehthumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Personal files
my_credentials.txt